package pages

import "numera/views/layouts"
import "numera/model"

templ Hello(user *model.User) {
	@layouts.Base("Hello World") {
		<p class="text-8 mt-6 text-center">{ user.Name } uses { user.Currency } as currency.</p>
	}
}
